<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDP oublié</title>
    <link rel="stylesheet" href="\ff\Css\mdp.css">
</head>
<body>
    
    <div id="index">
        <center> <div class="title"><h1>Mot de passe oublié</h1></div></center><br><br><br>
        <form method="post" action="../controller/reset.php">
            <div class="user-details">
                <div class="input-box">
                    <center><span class="details">Mot de passe</span></center>
                <center> <input type="password" id="password" name="password" placeholder="Entrez votre nouveau MDP"><style>#password{color: white;background: transparent; border: none;  font-size: 1em;} </style></center><br>
                </div>
            </div>
            
                <center><input type="submit" id="mdp" value="Enregistrer le MDP"></center>
        
        </form>
    </div>
</body>
</html>